version: '3'
services:
  traefik:
    image: traefik:1.6
    command: --web --docker --docker.domain=planet4.test --docker.watch  --logLevel=DEBUG
    networks:
      - proxy
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.toml:/traefik.toml
      - ./acme.json:/acme.json
    labels:
      traefik.backend: "traefik"
      traefik.frontend.rule: "Host:traefik.${APP_HOSTNAME:-www.planet4.test}"
      traefik.docker.network: "planet4dockercompose_proxy"
      traefik.enable: "true"

  redis:
    image: redis:4-alpine
    networks:
      - local
    labels:
      traefik.enable: "false"

  db:
    image: mysql:5.7
    env_file:
      - ./db.env
    volumes:
      - ./persistence/mysql:/var/lib/mysql:cached
    networks:
      - db
    labels:
      traefik.enable: "false"

  php-fpm:
    image: ${APP_IMAGE:-gcr.io/planet-4-151612/wordpress:develop}
    depends_on:
      - db
      - redis
    networks:
      - local
      - db
    dns:
      - ${DNS_RESOLVER:-1.1.1.1}
    volumes:
      - ./persistence/app:/app/source:cached
      - ./secrets/wp-stateless-media-key.json:/app/secrets/wp-stateless-media-key.json:ro
    environment:
      - APP_ENV=${APP_ENV:-develop}
      - APP_HOSTNAME=${APP_HOSTNAME:-www.planet4.test}
      - APP_HOSTPATH=${APP_HOSTPATH:-}
      - NEWRELIC_LICENSE=${NEWRELIC_LICENSE:-false}
      - WP_FORCE_SSL_ADMIN=false
      - WP_REDIS_ENABLED=${WP_REDIS_ENABLED:-true}
      - WP_SITE_HOME=${APP_HOSTNAME:-www.planet4.test}
      - WP_SITE_URL=${APP_HOSTNAME:-www.planet4.test}
      - WP_STATELESS_MEDIA_BUCKET=${APP_HOSTNAME:-www-planet4-test}
      - WP_STATELESS_MEDIA_ENABLED=${WP_STATELESS_MEDIA_ENABLED:-true}
    env_file:
      - ./app.env
      - ./db.env
    labels:
      traefik.enable: "false"

  openresty:
    image: ${OPENRESTY_IMAGE:-gcr.io/planet-4-151612/openresty:develop}
    depends_on:
      - php-fpm
      - traefik
      - redis
    networks:
      - local
      - proxy
    volumes:
      - ./persistence/app:/app/source:cached
    environment:
      - APP_ENV=${APP_ENV:-develop}
      - PAGESPEED_ENABLED=${PAGESPEED_ENABLED:-false}
      - APP_HOSTNAME=${APP_HOSTNAME:-www.planet4.test}
      - APP_HOSTPATH=${APP_HOSTPATH:-}
      - PHP_ENABLED=true
    labels:
      traefik.backend: "test"
      traefik.frontend.rule: "Host:${APP_HOSTNAME:-planet4.test}"
      traefik.docker.network: "planet4dockercompose_proxy"
      traefik.enable: "true"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:4.7
    depends_on:
      - db
      - traefik
    env_file:
      - ./db.env
    volumes:
      - ./persistence/pma:/sessions
    networks:
      - db
      - proxy
    labels:
      traefik.backend: "pma"
      traefik.frontend.rule: "Host:pma.planet4.test"
      traefik.docker.network: "planet4dockercompose_proxy"
      traefik.enable: "true"

  elasticsearch:
    image: gcr.io/planet-4-151612/elasticsearch:${ELASTICSEARCH_BUILD_TAG:-latest}
    networks:
      - local
    labels:
      traefik.enable: "false"

  smtp:
    image: gcr.io/planet-4-151612/exim:${SMTP_BUILD_TAG:-develop}
    networks:
      - local
    labels:
      traefik.enable: "false"


networks:
  local:
  db:
  proxy:
    driver: bridge
