---
version: '3'
services:
  traefik:
    image: traefik:1.7
    command: --web --docker --docker.domain=planet4.test --docker.watch
    networks:
      proxy:
        aliases:
          - ${APP_HOSTNAME:-www.planet4.test}
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.toml:/traefik.toml
    labels:
      traefik.backend: "traefik"
      traefik.frontend.rule: "Host:traefik.${APP_HOSTNAME:-www.planet4.test}"
      traefik.docker.network: "${COMPOSE_PROJECT_NAME}_proxy"
      traefik.enable: "true"

  redis:
    image: redis:4-stretch
    networks:
      - local
    labels:
      traefik.enable: "false"

  db:
    image: mysql:5.7
    env_file:
      - ./db.env
    volumes:
      - ./persistence/mysql:/var/lib/mysql:cached
    networks:
      - db
    labels:
      traefik.enable: "false"

  php-fpm:
    image: ${APP_IMAGE:-gcr.io/planet-4-151612/planet4-base-app:develop}
    depends_on:
      - db
      - redis
    networks:
      - local
      - db
    dns:
      - ${DNS_RESOLVER:-1.1.1.1}
      - ./secrets/wp-stateless-media-key.json:/app/secrets/wp-stateless-media-key.json:ro
    environment:
      - APP_ENV=${APP_ENV:-develop}
      - APP_HOSTNAME=${APP_HOSTNAME:-www.planet4.test}
      - APP_HOSTPATH=${APP_HOSTPATH:-}
      - NEWRELIC_LICENSE=${NEWRELIC_LICENSE:-false}
      - WP_FORCE_SSL_ADMIN=false
      - WP_REDIS_ENABLED=${WP_REDIS_ENABLED:-true}
      - WP_STATELESS_MEDIA_BUCKET=${APP_HOSTNAME:-www-planet4-test}
      - WP_STATELESS_MEDIA_ENABLED=${WP_STATELESS_MEDIA_ENABLED:-true}
    env_file:
      - ./app.env
      - ./db.env
    labels:
      traefik.enable: "false"

  openresty:
    image: ${OPENRESTY_IMAGE:-gcr.io/planet-4-151612/planet4-base-openresty:develop}
    depends_on:
      - php-fpm
      - traefik
      - redis
    networks:
      - local
      - proxy
    environment:
      - APP_ENV=${APP_ENV:-develop}
      - PAGESPEED_ENABLED=${PAGESPEED_ENABLED:-false}
      - APP_HOSTNAME=${APP_HOSTNAME:-www.planet4.test}
      - APP_HOSTPATH=${APP_HOSTPATH:-}
      - REDIS_FASTCGI_CACHE_ENABLED=true
    labels:
      traefik.backend: "test"
      traefik.frontend.rule: "Host:${APP_HOSTNAME:-www.planet4.test}"
      traefik.docker.network: "${COMPOSE_PROJECT_NAME}_proxy"
      traefik.enable: "true"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:4.7
    depends_on:
      - db
      - traefik
    env_file:
      - ./db.env
    networks:
      - db
      - proxy
    labels:
      traefik.backend: "pma"
      traefik.frontend.rule: "Host:pma.${APP_HOSTNAME:-www.planet4.test}"
      traefik.docker.network: "${COMPOSE_PROJECT_NAME}_proxy"
      traefik.enable: "true"

  elasticsearch:
    image: gcr.io/planet-4-151612/elasticsearch:${ELASTICSEARCH_BUILD_TAG:-latest}
    networks:
      - local
    labels:
      traefik.enable: "false"


networks:
  local:
  db:
  proxy:
    driver: bridge
