---
version: '3'
services:
  codeception:
    image: gcr.io/planet-4-151612/p4-codeception:develop
    working_dir: /app/source
    command: /bin/false  # only needed when running specific commands
    environment:
      - APP_HOSTNAME=${APP_HOSTNAME:-www.planet4.test}
      - APP_HOSTPATH=${APP_HOSTPATH:-}
      - CODECEPTION_SELENIUM_HOST=selenium
      - CODECEPTION_SELENIUM_PORT=4444
    networks:
      - local
    volumes:
      - ./persistence/app:/app/source:cached
    labels:
      traefik.enable: "false"
