zend_extension=xdebug.so
xdebug.mode=${XDEBUG_MODE}
xdebug.start_with_request=${XDEBUG_START_WITH_REQUEST}
xdebug.client_host=${XDEBUG_REMOTE_HOST}
xdebug.client_port=9000
xdebug.output_dir=/app/source
xdebug.profiler_output_name=cachegrind.out.%t-%s-%R
